/* Reajustamos la separación entre la info y el reproductor en móviles */
@media screen and (max-width: 1024px) {
  .detalle-pelicula {
    flex-direction: column;
    gap: 20px; /* Reduce el espacio entre imagen y la descripción */
  }

  .contenedor-reproductor {
    margin-top: 20px; /* Añade un pequeño margen superior para separar ligeramente el reproductor */
  }

  .info h1 {
    font-size: 2rem;
  }

  .info p {
    font-size: 1rem;
  }

  .contenedor-reproductor iframe {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .pagina-pelicula {
    padding: 15px;
  }

  .detalle-pelicula {
    gap: 10px; /* Reduce aún más la separación en pantallas muy pequeñas */
  }

  .info h1 {
    font-size: 1.5rem;
  }

  .info p {
    font-size: 0.9rem;
  }

  .contenedor-reproductor iframe {
    height: 300px;
  }
}
